
<h2>Switches</h2>
<hr>
<div class="row justify-content-center">
    <div class="col-md-12">
        <form (ngSubmit)="guardar()" [formGroup]="miFormulario" autocomplete="off">
            <div class="row">
                <div class="col-md-2">
                    <label>Genero</label>
                </div>
                <div class="col-md-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="genero" id="generoMasculino"
                            value="M"  required>
                        <label class="form-check-label" for="exampleRadios1">
                            Hombre
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="genero" id="generoFemenino"
                        value="F" required>
                        <label class="form-check-label" for="exampleRadios2">
                            Mujer
                        </label>
                    </div>
                </div>
                <div class="col-md-2 mt-3">
                    <label>Notificaciones</label>
                </div>
                <div class="col-md-10 mt-3">
                    <div class="form-check form-switch">
                        <input formControlName="notificaciones" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Agregar notificaciones</label>
                      </div>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-10 mt-4">
                    <div class="form-check">
                        <input formControlName="condiciones" class="form-check-input" type="checkbox" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                            Terminos y condiciones
                        </label>
                    </div>
                </div>

                <div class="text-end">
                    <button type="submit" class="btn btn-primary"  >
                        Guardar
                    </button>

                </div>
            </div>
        </form>
    </div>
    <span>Valor del formulario</span>
    <pre>{{ miFormulario.value | json }}</pre>

    <span>Persona</span>
    <pre>{{ persona | json }}</pre>

    <span>Formulario valido</span>
    <pre>{{ miFormulario.valid }}</pre>

    <!-- <span>Terminos y condiciones</span>
    <pre>{{ miFormulario.controls.terminos?.errors | json }}</pre> -->

</div>