<div class="row">
    <div class="col-md-12">
        <form (ngSubmit)="guardar()" [formGroup]="miFormulario" autocomplete="off">
            <div class="row">
                <div class="col-md-2">
                    <label>Nombre</label>
                </div>
                <div class="col-md-10">
                    <input type="text" formControlName="nombre" class="form-control" placeholder="Agregar nombre">
                    <span class="form-text text-danger" *ngIf="campoValido('nombre')">
                        El campo debe ser llenado
                    </span>
                </div>
                <div class="col-md-2 mt-3">
                    <label>Agregar</label>
                </div>
                <div class="col-md-10 mt-3">
                    <div class="input-group">
                        <input type="text" class="form-control" [formControl]="nuevofavorito" placeholder="Agregar">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" (click)="agregarFavorito()">Agregar</button>
                        </div>
                    </div>
                    
                </div>
                <div class="col md-2 mt-5 ">
                    <label>Favoritos</label>
                </div>
                <div class="col-md-10 mt-3" formArrayName="favoritos">
                    <div class="input-group mt-3" *ngFor="let favorito of favoritosArr.controls; let i = index">
                        <input class="form-control" [formControlName]="i">
                        <div class="input-group-append">
                            <button class="btn btn-outline-danger" (click)="eliminarFavorito(i)">Borrar</button>
                        </div>
                    </div>
                </div>


                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-sm btn-primary">Agregar</button>
                </div>
            </div>

        </form>

    </div>
    <div class=" row mt-5">
        <div class="col-md-12">
            <samp>Valido : </samp>
            {{ miFormulario.valid }}
        </div>
        <div class="col-md-12 mt-3">
            <span>Value :</span>
            {{ miFormulario.value | json }}
        </div>
        <div class="col-md-12 mt-3">
            <samp>Pristine :</samp>
            {{ miFormulario.pristine }}
        </div>
        <div class="col-md-12 mt-3">
            <samp>Touched :</samp>
            {{ miFormulario.touched }}
        </div>

        <div class="col-md-12 mt-3">
            <samp>NuevoFavorito :</samp>
            {{ nuevofavorito.valid }}
        </div>


    </div>

</div>